<!DOCTYPE html>
<html lang="en">
  <html lang="en" data-bs-theme="dark">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- TODO: Nav logo and title change on all templates -->
      <title>PropheSee</title>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous"
      />
    </head>
    <body>
      <!-- Active user navbar START -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand fs-3" href="/home">PropheSee</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home"
                  >Dashboard</a
                >
              </li>
              <!-- Your Platforms dropdown START -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Your Platforms
                </a>
                <!-- Your Platforms dropdown list START -->
                <ul class="dropdown-menu">
                  <!-- TODO: Platforms dropdown menu items -->
                  <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
                </ul>
              </li>
              <!-- Your Platforms dropdown END -->

              <!-- Edit Profile nav item START -->
              <li class="nav-item">
                <a class="nav-link" href="#">Edit Profile</a>
              </li>
            </ul>
            <!-- TODO: About link/href -->
            <a class="nav-link mx-3" aria-current="page" href="#">About</a>
            <a class="btn btn-danger" href="/logout" role="button">Log Out</a>
          </div>
        </div>
      </nav>
      <!-- Active user navbar END -->

      <!-- Main START -->
      <main class="container-fluid d-flex justify-content-between gap-5 p-4">
        <!-- Quick Add card START -->
        <div class="card col-lg-2 h-50 sticky-top">
          <!-- TODO: User's first name -->
          <div class="card-header text-center"><h2>Tim's Watchlist</h2></div>
          <form action="#" method="POST">
            <div class="card-body">
              <div>
                <!-- TODO: Add media FORM ACTION here -->
                <div class="mb-3">
                  <div class="d-flex justify-content-between align-items-end">
                    <label for="media_name" class="form-label"
                      >Media Name: *</label
                    >
                    <p class="text-decoration-underline fs-4">+ Quick Add</p>
                  </div>
                  <input
                    type="text"
                    id="media_name"
                    name="media_name"
                    class="form-control"
                    oninput="toggleAddMediaButton()"
                  />
                </div>
                <div class="mb-3">
                  <select
                    name="category"
                    id="category"
                    class="form-select"
                    onchange="toggleAddMediaButton()"
                  >
                    <option value="Category" selected>Category *</option>
                    <option value="Series">Series</option>
                    <option value="Movie/Documentary">Movie/Documentary</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                  </select>
                </div>
                <div class="mb-3">
                  <select
                    name="platform_name"
                    id="platform_name"
                    class="form-select"
                    onchange="toggleAddMediaButton()"
                  >
                    <option value="Platform" selected>Platform *</option>
                    <!-- TODO: List all available platforms -->
                    <option value="Unlisted">Unlisted</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <p class="d-flex justify-content-end">* Denotes required field</p>
              <div class="d-flex justify-content-between align-items-end">
                <a href="/home" id="view_all_link">View all media</a>
                <button
                  type="submit"
                  class="btn btn-success"
                  id="quick_add_submit_button"
                  disabled
                >
                  Add Media
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- Quick Add card END -->

        <div>
          <div class="d-flex justify-content-between">
            <div>
              <h1>
                <!-- TODO: Current tab name instead of "unlisted" -->
                <!-- TODO: Current tab href here -->
                <a class="text-decoration-none" href="/platforms/unlisted"
                  >Unlisted</a
                >
                - Sneak Peek
              </h1>
            </div>
            <div>
              <!--TODO: Add media to platform button href here -->
              <!--TODO: Add media to "Platform Name" button href here -->
              <a
                href="/media/new"
                class="btn btn-outline-success text-wrap"
                role="button"
                >Add new media to Unlisted</a
              >
            </div>
          </div>
          <!-- Dashboard card START -->
          <div class="card">
            <!-- Dashboard header START -->
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs justify-content-start">
                <!-- TODO: List user's platforms -->
                <!-- TODO: Dashboard card tabs hrefs here -->
                <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Hulu</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Netflix</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Disney+</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link active">Unlisted</a>
                </li>
                <li class="nav-item">
                  <a href="/platforms/new" class="nav-link">( + )</a>
                </li>
              </ul>
            </div>
            <!-- Dashboard header END -->

            <!-- Dashboard body START -->
            <div class="card-body">
              <!-- 1st row START -->
              <div class="row">
                <div class="d-flex justify-content-around gap-3 p-2">
                  <!-- Recently Added table START -->
                  <div class="col-lg-5">
                    <h3>Recently Added</h3>
                    <table
                      class="table table-hover table-bordered table-striped table-fixed"
                    >
                      <thead>
                        <tr>
                          <th></th>
                          <th scope="col">Title</th>
                          <th scope="col">Added</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- TODO: List user's platform media -->
                        <tr>
                          <th scope="row">1</th>
                          <td>District 9</td>
                          <td>2023-04-27</td>
                          <td>
                            <div class="d-flex justify-content-center gap-3">
                              <a href="/media/view/attack-on-titan">View</a>
                              <span> | </span>
                              <a href="/media/edit/attack-on-titan">Edit</a>
                              <span> | </span>
                              <a href="/platforms/edit/unlisted">To Platform</a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Recently Added table END -->

                  <!-- Recently Added table START -->
                  <div class="col-lg-5">
                    <h3>Currently Watching</h3>
                    <table
                      class="table table-hover table-bordered table-striped table-fixed"
                    >
                      <thead>
                        <tr>
                          <th></th>
                          <th scope="col">Title</th>
                          <th scope="col">Last Updated</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- TODO: List user's platform media -->
                        <tr>
                          <th scope="row">1</th>
                          <td>Chainsaw Man</td>
                          <td>2023-04-27</td>
                          <td>
                            <div class="d-flex justify-content-center gap-3">
                              <a href="#">View</a>
                              <span> | </span>
                              <a href="#">Edit</a>
                              <span> | </span>
                              <a href="#">To Platform</a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Recently Added table END -->
                </div>
              </div>
              <!-- Card body 1st row END -->

              <!-- Card body 2nd row START -->
              <div class="row">
                <div class="d-flex justify-content-around gap-3 p-2">
                  <div class="col-lg-12">
                    <h3>Completed</h3>
                    <table
                      class="table table-hover table-bordered table-striped table-fixed"
                    >
                      <thead>
                        <tr>
                          <th></th>
                          <th scope="col">Title</th>
                          <th scope="col">Added</th>
                          <th class="col-lg-2" scope="col">Actions</th>
                          <th scope="col">Completed</th>
                          <th class="col-lg-5" scope="col">Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- TODO: List user's platform media -->
                        <tr>
                          <th scope="row">1</th>
                          <td>That Time I Got Reincarnated as a Slime</td>
                          <td>2023-04-27</td>
                          <td>
                            <div class="d-flex justify-content-center gap-3">
                              <a href="#">View</a>
                              <span> | </span>
                              <a href="#">Edit</a>
                              <span> | </span>
                              <a href="#">To Platform</a>
                            </div>
                          </td>
                          <td>2023-04-27</td>
                          <td>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Fugit sit totam tenetur, laudantium eius, fuga
                            quae reprehenderit illo minus, recusandae eum minima
                            error! Corrupti, perspiciatis sequi? Dolorum
                            quibusdam in amet.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Card body 2nd row END -->
            </div>
            <!-- Dashboard body END -->
          </div>
        </div>
        <!-- Dashboard card END -->
      </main>

      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
      ></script>
      <script src="{{url_for('static', filename='quick_add_card_script.js')}}"></script>
    </body>
  </html>
</html>
